{% extends 'base.html' %}
{% block body %}

  <div>
   <form method="POST" action="">
      {{ form.hidden_tag() }} 
      <fieldset>

        <div class="formgroup">
          {{ form.email.label}}
          
          {% if form.email.errors %}
            <div>
            {% for error in form.email.errors %}
              <span>{{ error }}</span>
            {% endfor %}
            <div>
            {{ form.email}}


          {% else %}

            {{ form.email}}

          {% endif %}

        </div>
        <div class="formgroup">
          {{ form.password.label}}
          {% if form.password.errors %}
          
            <div>
            {% for error in form.password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
            <div>
            {{ form.password}}


          {% else %}

            {{ form.password}}

          {% endif %}

        </div>
      </fieldset>
      <div class="login">
          {{form.submit}}
      </div>
   </form>
  </div>
  <div class="jointoday">
    <small>
      Dont Have An Accout? <a href="{{url_for('register')}}"> Register Now! </a>
    </small>
  </div>

{% endblock %}